
<!-- Header  -->

<header class="header">
  <div class="container content-header">
    <div class="barra">
      <div class="logo">
        <h1 class="name-place">
          <span>Drew</span>Architecture
        </h1>
      </div>

      <div class="contact">
        <a class="telefono" href="tel:01-800-0000-000">+34-880-333-212</a>

        <nav class="navigation">
          <a class="link" href="#">Inicio</a>
          <a class="link" href="#aboutUs">Nosotros</a>
          <a class="link" href="#models">Modelos</a>
          <a class="link" href="#gallery">Galería</a>
          <a class="link" href="#contact">Contacto</a>
        </nav>
      </div>
    </div>
    <div class="slogan">
      <h1>Tu casa en el bosque</h1>
      <p>Construimos la casa de tus sueños</p>
    </div>
  </div>

</header>

<!-- Header  -->