
/** Header */

.header {
  min-height: 60rem;
  background-image: url(../../..//assets/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  padding: 5rem 0;
}
.content-header {
  display: flex;
  flex-direction: column;
  height: calc(60rem - 4rem);
  justify-content: space-between;
  color: var(--blanco);
}
.name-place {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
}
@media (min-width: 1280px) { 
  .name-place {
      font-size: 5rem;
  }
}

.name-place span {
  font-weight: 900;
}

@media (min-width: 1280px) { 
  .barra {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1280px) { 
  .contact {
      align-items: flex-end;
  }
}
.telefono {
  display: flex;
}
.telefono::before {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url(../../../assets/img/telefono.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 1rem;
}

.header a {
  color: var(--blanco);
  font-size: 2rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
@media (min-width: 1280px) { 
  .navigation {
      flex-direction: row;
  }
}
.navigation a {
  padding: .5rem;
  transition: background-color 300ms;
  width: 100%;
  text-align: center;
}
@media (min-width: 1280px) { 
  .navigation a {
      padding: 1rem 2rem;
  }
}
.navigation a:hover {
  background-color: rgb( 255 255 255 / .5 );
  color: var(--negro);
}

.slogan {
  text-align: center;
}
@media (min-width: 1280px) { 
  .slogan {
      text-align: right;
  }
}
.slogan h1 {
  font-size: 3rem;
  margin: 0;
}
@media (min-width: 1280px) { 
  .slogan h1 {
      font-size: 5rem;
  }
}
.slogan p {
  margin: 0;
  line-height: 1;
}