/** Modelos **/

.modelo {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 5rem;
}
.modelo:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1280px) { 
  .modelo {
      grid-template-columns: repeat(2, 1fr);
  }
}

.content-modelo {
  padding: 5rem;
  background-color: var(--blanco);
}

.basico {
  background-image: url(../../../assets/img/modelo_basico.jpg);
}
@media (min-width: 1280px) { 
  .basico {
      background-position: top right;
  }
  .basico .content-modelo {
      grid-row: 2 / 3;
      padding: 2rem 2rem 2rem 0;
  }
}
.premier {
  background-image: url(../../../assets/img/modelo_premier.jpg);
}
@media (min-width: 1280px) { 
  .premier {
      background-position: top left;
  }
  .premier .content-modelo {
      grid-column: 2 / 3;
      padding: 2rem ;
  }
}
.elite {
  background-image: url(../../../assets/img/modelo_elite.jpg);
}

@media (min-width: 1280px) { 
  .elite {
      background-position: top right;
  }
  .elite .content-modelo {
      padding: 2rem 2rem 2rem 0;
  }
}