
<!-- Models -->

<main id="models" class="container mt-5">
  <h2>Conoce nuestros 3 modelos</h2>

  <div class="modelo basico">
    <div class="content-modelo">
      <h3>Modelo Básico</h3>
      <p>Un lindo proyecto de casa americana estilo urbana, diseños en los cuales estamos incursionando y a la vez aportando nuevas características.
      </p>
        
      <p>Cuenta con una fachada sencilla sin embargo especialmente en este proyecto nos enfocamos mas en el interior generando una optima distribución de ambientes dándoles amplitud y circulación adecuada complementando con gran iluminación gracias a los pasillos laterales</p>  
      <a href="#" class="btn">Más Información</a>
    </div>
  </div> <!--.modelo-->

  <div class="modelo premier">
    <div class="content-modelo">
      <h3>Modelo Premier</h3>
      <p>Este es un diseño de casa de un nivel muy hermoso elaborado con un concepto muy llamativo rodeado de líneas curvas y mucho verde, siempre buscando un estilo moderno rodeado de mucha naturaleza.</p>
      <a href="#" class="btn">Más Información</a>
    </div>
  </div> <!--.modelo-->

  <div class="modelo elite">
    <div class="content-modelo">
      <h3>Modelo Elite</h3>
      <p>Les mostramos este proyecto de casa muy bonito ideal para terrenos con desnivel hacia la parte posterior donde predomina la iluminación y los amplios espacios exteriores y sociales que cuenta en el primer piso con sala de doble altura, comedor y cocina, cuarto de lavandería, un cuarto para oficina o dormitorio, medio baño el mismo que da servicio a todo el primer nivel y en el segundo piso cuenta con tres dormitorios cada uno con baño completo incluido.</p>
      <a href="#" class="btn">Más Información</a>
    </div>
  </div> <!--.modelo-->


</main>