/** About Us **/

.nosotros {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(../../../assets/img/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (min-width: 1280px) { 
  .nosotros {
      grid-template-columns: repeat(3, 1fr);
  }
}

.content-nosotros {
  background-color: var(--blanco);
  padding: 5rem;
}
@media (min-width: 1280px) { 
  .content-nosotros {
      grid-column: 2 / 4;
  }
}
.content-nosotros h2, 
.content-nosotros p {
  margin-bottom: 1rem;
}
